{% csrf_token %}
{% for field in form %}
	{% if field.errors %}
	<div class="form-group has-error">
	<label class="control-label" for="inputError">{{field.label}}</label>
	<span class="control-label pull-right" for="inputError">{{field.errors.as_text}}</span>
	{{field}}
	</div>
	{% else %}
	<label class="control-label" for="inputSuccess">{{field.label}}</label>
	{{field}}
	<p></p>
	{% endif %}
{% endfor %}