<div class="col-sm-8">
	<ul class="list-group" id="group_members">
	</ul>
	
	<ul class="list-group" id="user_group_server_group">
	</ul>
</div>

<div class="col-sm-4">
	<ul class="list-group" id="user_owned_groups">
		{{user_owned_groups|safe}}
	</ul>
	<ul class="list-group" id="user_works_on">
		{{user_works_on|safe}}
	</ul>
</div>

<script>
	var groupTrashId;
	var groupId;
	function groupTrash(id){
		groupTrashId = id;
		$('#groupTrashModal').modal('show');
	}
	function loadMembers(id){
		groupId = id;
		$.get('panel/members', {'group':groupId}, function(data){
			if (data.success == true){
				$("#group_members")[0].innerHTML = data.members
			}
		});
	}
	
	function groupFix(id){
	}
	
	$(function(){
		$("#deleteGroupForm").submit(function(event){
			event.preventDefault();
			$("#deteleUserGroupInput").val(groupTrashId);
			$.ajax({
				data: $(this).serialize(),
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				success: function(data) {
					$('#groupTrashModal').modal('hide');
					if (data.success == true){
						$('#user_owned_groups')[0].innerHTML = data.owned_groups;
						$("#group_members")[0].innerHTML = "";
						$("#user_group_server_group")[0].innerHTML = "";
					}
				}
			});
		});
	});
</script>