<li class="list-group-item">
	<b>Owner: </b>{{owner.username}}
</li>
<li class="list-group-item active">
	<span class="badge">{{members.count}}</span>
	Members
</li>
<li class="list-group-item">
	{% for member in members %}
	<b>Member Name</b>{{member.username}}
	<a href="#">
		<span class="pull-right glyphicon glyphicon-trash"></span>
	</a>
	{% endfor %}
</li>