{% extends "main.html" %}
{% block content %}
<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">NOMBRE GRUPO</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
           		<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers <b class="caret"></b></a>
					<ul class="dropdown-menu">
               			<li data-toggle="modal" data-target="#newServer"><a href="">New Server</a></li>
              				<li><a href="#">Delete Server</a></li>
					</ul>
				</li>
				<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Scripts <b class="caret"></b></a>
					<ul class="dropdown-menu">
               			<li><a href="#">New Script</a></li>
              				<li><a href="#">Delete Script</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            	<li><a href="#"><span class="glyphicon glyphicon-wrench"></span></a></li>
            	<li><a href="#"><span class="glyphicon glyphicon-trash"></span></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<ul class="list-group col-sm-6">
		<li class="list-group-item active">
			<span class="badge">0</span>
			Servers
		</li>
		<li class="list-group-item">
			TEST
			<a href="#">
				<span class="pull-right glyphicon glyphicon-trash"></span>
			</a>
			<a href="#">
				<span class="pull-right glyphicon glyphicon-wrench"></span>
			</a>
		</li>
	</ul>
	
	<ul class="list-group col-sm-6">
		<li class="list-group-item active">
			<span class="badge pull-right">0</span>
			Scripts
		</li>
		<li class="list-group-item">
			TEST
			<a href="#">
				<span class="pull-right glyphicon glyphicon-trash"></span>
			</a>
			<a href="#">
				<span class="pull-right glyphicon glyphicon-wrench"></span>
			</a>
		</li>
	</ul>
</div>

<!-- Modal New Server -->
<div class="modal fade" id="newServer" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">New Server</h4>
     		 </div>
      
      		<form class="form" role="form" action="server/new_server" method="post"  id="newServerForm">
				<div class="modal-body" id="newServerBody">
				{% csrf_token %}
				{% for field in form %}
					{% if field.errors %}
					<div class="form-group has-error">
					<label class="control-label" for="inputError">{{field.label}}</label>
					<span class="control-label pull-right" for="inputError">{{field.errors.as_text}}</span>
					{{field}}
					</div>
					{% else %}
					<label class="control-label" for="inputSuccess">{{field.label}}</label>
					{{field}}
					<p></p>
					{% endif %}
				{% endfor %}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Modal New Server -->

<script>
$("#newServerForm").submit(function(event){
	event.preventDefault();
	$.ajax({
		data: $(this).serialize(),
		type: $(this).attr('method'),
		url: $(this).attr('action'),
		success: function(data) {
			result = data.form;
			if (!data.success){
				$("#newServerBody")[0].innerHTML = result;
			}
			else {
				alert(data.success);
			}
		}
	});
});
</script>

{% endblock %}