<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Spa-Style">
    <meta name="author" content="WorkShipN">
    
	<link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/static/bootstrap3/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/static/css/main.css"></link>
	
	<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap3/js/html5shiv.js"></script>
      <script src="/static/bootstrap3/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	{% block nav_content %}
	<!-- BARRA DE NAVEGACION -->
	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	         	 </button>
				<a class="navbar-brand" href="/">WorkShipN</a>
			</div>
			<div class="navbar-collapse collapse">
	        	<ul class="nav navbar-nav navbar-right">
		            <li><a href="user/register" >
						<b>Register</b>
					</a></li>  
		            <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<form class="form-signin col-sm-12" role="form" action="user/login/confirm_sm/" method="post"  id="loginForm">
	                			{{form|safe}}
	                		</form>
						</ul>
		            </li>
		    	</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- FIN BARRA DE NAVEGACION -->
	{% endblock %}
	
	<div id="wrap">
	{% block content %}
		<!-- Carousel -->
		<div id="myCarousel" class="carousel slide">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			</ol>
			
			<div class="carousel-inner">
				<div class="item active">
					<img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="">
			      	<div class="container">
				        <div class="carousel-caption">
				        	<h1>Register now!</h1>
				        	<p>You are just few steps away from using WorkShipN</p>
				        	<p><a class="btn btn-large btn-primary" href="/user/register/">Sign up</a></p>
				        </div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div><!-- /.carousel -->
	{% endblock %}
    </div>
    
    {% block footer_content %}
	<div id="footer" class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
		<div class="container">
	    	<p class="text-muted credit">Taller de Redes 2013 | Danilo Vergara | Daniel Márquez</p>
	    </div>
	</div>
	{% endblock %}
    
    {% block script_content %}
	<script>
	$(function (){
		window.onresize = function() {
			$(".carousel .item ").height( $( window ).height()-110 );
		}
		$(".carousel .item ").height( $( window ).height()-110 );
		$("#loginForm").submit(function(event){
			event.preventDefault();
			$.ajax({
				data: $(this).serialize(),
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				success: function(data) {
					result = data.form;
					if (!data.success){
						$("#loginForm")[0].innerHTML = result;
					}
					else{window.location.href = "/user/panel";}
				}
			});
		});
	});
	</script>
	{% endblock %}
	
	<script src="/static/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html> 