{% csrf_token %}
{% if form.script.errors %}
<div class="input-group" style="margin:0;padding:0;">
	<div class="col-sm-4" style="margin:0;padding:0;">
	{{form.condition}}
	</div>
	<div class="col-sm-8  has-error" style="margin:0;padding:0;">
	{{form.script}}
	</div>
	<div class="input-group-btn" style="margin:0;padding:0;">
		<button type="submit" class="btn btn-default">Add</button>
	</div>
</div>
{% else %}
<div class="input-group" style="margin:0;padding:0;">
	<div class="col-sm-4" style="margin:0;padding:0;">
	{{form.condition}}
	</div>
	<div class="col-sm-8" style="margin:0;padding:0;">
	{{form.script}}
	</div>
	<div class="input-group-btn" style="margin:0;padding:0;">
		<button type="submit" class="btn btn-default">Add</button>
	</div>
</div>	
{% endif %}