{% for form in forms %}
<div class="well" style="margin:0;padding:0;margin-bottom:5px;">
<form id="scriptForm-{{form.id.value}}" name="{{server_group.id}}" class="form col-sm-12" style="margin:0;padding:0;" role="form" method="post">
	{% csrf_token %}
	<div class="input-group col-sm-12" style="margin:0;padding:0;">
		<button type="button" class="btn btn-default glyphicon glyphicon-remove pull-right" onclick="deleteScript({{form.id.value}})"></button>
		<button type="button" class="btn btn-default glyphicon glyphicon-floppy-save pull-right" onclick="editScript({{form.id.value}})"></button>
		<button type="button" class="btn btn-default glyphicon glyphicon-play pull-right" onclick="playScript({{form.id.value}})"></button>
	</div>
	<div class="input-group col-sm-12" style="margin:0;padding:0;">
		{{form.id}}
		<div class="col-sm-4" style="margin:0;padding:0;">
		{{form.condition}}
		</div>
		<div class="col-sm-8" style="margin:0;padding:0;">
		{{form.script}}
		</div>
	</div>
</form>
</div>
{% endfor %}