{% csrf_token %}
{% for field in form %}
	<div class="input-group">
      {{field}}
      <span class="input-group-btn">
        <button  type="submit" class="btn btn-success">Get Servers</button>
      </span>
    </div>
{% endfor %}