<div class="panel panel-default" id="serverpanel-{{server.id}}" style="background:#EEE;">
	<ul class="nav navbar-nav navbar-right">
		<li>
			<form id="serverDeleteForm-{{form.server_id.value}}" action="/servergroup/deleteserver" class="form col-sm-12" style="margin:0;padding:0;" role="form" method="post">
				{% csrf_token %}
				{% for field in form %}
					{{field}}
				{% endfor %}
				<button type="button" class="btn btn-default pull-right glyphicon glyphicon-trash" onclick="deleteServer({{form.server_id.value}})"></button>
			</form>
		</li>
		<li>
			<form id="serverEditForm-{{form.server_id.value}}" action="/server/editserver" class="form col-sm-12" style="margin:0;padding:0;" role="form" method="post">
				{% csrf_token %}
				{% for field in form %}
					{{field}}
				{% endfor %}
				<button type="button" class="btn btn-default pull-right glyphicon glyphicon-pencil" onclick="editServer({{form.server_id.value}})"></button>
			</form>
		</li>
	</ul>
	<br>
	<div class="panel-heading" style="background:#EEE;">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{server.id}}">
		  {{server.server_name}}
		</a>
   	</div>
    <div id="collapse{{server.id}}" class="panel-collapse collapse" style="padding:0;">
		<div class="panel-body" style="padding:0;">
			<ul class="list-group" style="padding:0;margin:0;">
				<li class="list-group-item"><span><b>Ip: </b>{{server.ip}}</span></li>
				<li class="list-group-item"><span><b>User Name: </b>{{server.user_name}}</span></li>
			</ul>
		</div>
	</div>
</div>