<li class="list-group-item active">
	<span class="badge">{{user_owned_groups.count}}</span>
	My Server Groups
</li>

{% for group in server_groups %}
<li class="list-group-item">
	<button class="btn-xs btn-link" onclick="loadScriptsAndServers({{group.id}})">{{group.name}}</button>
	<button class="btn-sm btn-default pull-right glyphicon glyphicon-trash" onclick="groupTrash({{group.id}})"></button>
	<button class="btn-sm btn-default pull-right glyphicon glyphicon-folder-open" onclick="openServerGroup({{group.id}})"></button>
</li>
{% endfor %}