<br>
<div class="col-sm-8" id="servers_scripts">
</div>

<div class="col-sm-4">
	<ul class="list-group" id="server_groups">
		{{server_group_list|safe}}
	</ul>
</div>

<script>
var server_grop_id;

function loadScriptsAndServers(id){
	server_grop_id = id;
	$.get('../servergroup/servergroupservers/', {'group':id}, function(data){
		if (data.success == true){
			$("#servers_scripts")[0].innerHTML = data.serverlistandscripts;
		}
	});
}
</script>