<div class="list-group-item active" style="margin-bottom:5px;">
<span class="badge">{{group_servers.count}}</span>
Servers
</div>
<div class="panel-group" id="serverList">
	{% for render in servers_render %}
		{{render.content|safe}}
	{% endfor %}
</div>

<!-- Modal Edit Server -->
<div class="modal fade" id="editServer" tabindex="-1" role="dialog" aria-labelledby="editServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">Edit Server</h4>
     		</div>
     		<form class="form" role="form" action="/server/editserversave" method="post"  id="editServerForm">
				<div class="modal-body" id="editServerBody">
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Modal Edit Server -->

<script>
function deleteServer(id){
	form = "#serverDeleteForm-"+id;
	$.ajax({
		data: $(form).serialize(),
		type: $(form).attr('method'),
		url: $(form).attr('action'),
		success: function(data) {
			$("#serverList").fadeOut( function () {
				$("#serverList")[0].innerHTML = data.servers;
				$("#serverList").fadeIn({queue:false});
			});
		}
	});
}

function editServer(id){
	form = "#serverEditForm-"+id;
	$.ajax({
		data: $(form).serialize(),
		type: $(form).attr('method'),
		url: $(form).attr('action'),
		success: function(data) {
			$("#editServerBody")[0].innerHTML = data.form;
			$('#editServer').modal('show');
		}
	});
}

$(function () {
	$("#editServerForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				$('#editServer').modal('hide');
				$("#serverList").fadeOut( function () {
					$("#serverList")[0].innerHTML = data.servers;
					$("#serverList").fadeIn({queue:false});
				});
			}
		});
	});
});
</script>