<br>
<li class="list-group-item active">
	<span class="badge">{{user_owned_groups.count}}</span>
	My User Groups
</li>
{% for group in user_owned_groups %}
<li class="list-group-item">
	<button class="btn-xs btn-link" onclick="loadMembers({{group.id}})">{{group.group_name}}</button>
	<button class="btn-sm btn-default pull-right glyphicon glyphicon-trash" onclick="groupTrash({{group.id}})"></button>
	<button class="btn-sm btn-default pull-right glyphicon glyphicon-wrench" onclick="groupFix({{group.id}})"></button>
</li>
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="groupTrashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title" id="myModalLabel">Sure?</h2>
			</div>
			<div class="modal-body">
				This group is going to be permanently deleted!
			</div>
			<div class="modal-footer">
				<form role="form" action="panel/deleteusergroup/" method="post"  id="deleteGroupForm">				
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					{% csrf_token %}
					<input id="deteleUserGroupInput" class="hidden" type="text" name="group" value=""></input>
					<button type="submit" class="btn btn-primary" >Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>