{% extends "main.html" %}
{% block content %}
<!-- BARRA DE NAVEGACION -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">WorkShipN</a>
		</div>
		<div class="navbar-collapse collapse">
         		<ul class="nav navbar-nav">
           		<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Server Groups <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Options</li>
               			<li><a href="/group/new_server">New Group</a></li>
              				<li><a href="#">Delete Group</a></li>
              				<li class="divider"></li>
						<li class="dropdown-header">Groups</li>
						<li><a href="#">TEST1</a></li>
						<li><a href="#">TEST2</a></li>
						<li><a href="#">TEST3</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<!-- FIN BARRA DE NAVEGACION -->

{% block user_content %}
<div class="container" id="loginFormContainer">
	<form class="form-signin col-sm-8 col-sm-offset-2" role="form" action="user/login/confirm" method="post"  id="loginForm">
	{{form|safe}}
	</form>
</div>

<script>
$("#loginForm").submit(function(event){
	event.preventDefault();
	$.ajax({
		data: $(this).serialize(),
		type: $(this).attr('method'),
		url: $(this).attr('action'),
		success: function(data) {
			result = data.form;
			if (!data.success){
				$("#loginForm")[0].innerHTML = result;
			}
			else{window.location.href = "/register";}
		}
	});
});
</script>
{% endblock %}	
{% endblock %}