{% extends "main.html" %}
{% block nav_content %}
<!-- BARRA DE NAVEGACION -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">WorkShipN</a>
		</div>
	</div>
</div>
<!-- FIN BARRA DE NAVEGACION -->
{% endblock %}

{% block content %}
<div class="container" id="registerFormContainer">
	<form class="form-signin col-sm-8 col-sm-offset-2" role="form" action="user/register/confirm" method="post"  id="newUserForm">
	{{form|safe}}
	</form>
</div>
{% endblock %}

{% block script_content %}
<script>
$(function(){
	$("#newUserForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				result = data.form;
				if (!data.success){
					$("#newUserForm")[0].innerHTML = result;
				}
				else{window.location.href = "../user";}
			}
		});
	});
});
</script>
{% endblock %}