<li class="list-group-item active">
	<span class="badge">{{user_works_on.count}}</span>
	Working on
</li>

{% for group in user_works_on %}
<li class="list-group-item">
	<button class="btn btn-link">{{group.group.group_name}}</button>
	<button class="btn-sm btn-link pull-right glyphicon glyphicon-trash" onclick="groupTrash({{group.id}})"></button>
	<button class="btn-sm btn-link pull-right glyphicon glyphicon-wrench" onclick="groupFix({{group.id}})"></button>
</li>
{% endfor %}