{% csrf_token %}
<h2 class="form-signin-heading text-primary">User Register</h2>
{% for field in form %}
{% if field.errors %}
<div class="form-group has-error">
	<label class="control-label" for="inputError">{{field.label}}</label>
	<span class="control-label pull-right" for="inputError">{{field.errors.as_text}}</span>
	{{field}}
</div>
{% else %}
<div class="form-group">
	{{field.label}}
	{{field}}
</div>
{% endif %}
{% endfor %}
<div class="form-group">
	<button type="submit" class="btn btn-primary pull-right">
		<b>Finish</b>
	</button>
</div>