{% extends "main.html" %}
{% block nav_content %}
<link rel="stylesheet" href="/static/css/user_panel.css"></link>

<!-- BARRA DE NAVEGACION -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
         	 </button>
			<a class="navbar-brand" href="/">WorkShipN</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
         		<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">User Groups <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Options</li>
						<li><a href="" id="myusergroups">My User Groups</a></li>
               			<li data-toggle="modal" data-target="#newUserGroup"><a href="" onclick="return false;">New Group</a></li>
              			<li class="divider"></li>
						<li class="dropdown-header">Recent</li>
						{% for group in user_group_recent %}
						<li><a href="panel/?user_group={{group.id}}">{{group.group_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
           		<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Server Groups <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Options</li>
						<li><a href="" id="myservergroups">My Server Groups</a></li>
               			<li data-toggle="modal" data-target="#newServerGroup"><a href="" onclick="return false;">New Group</a></li>
              			<li class="divider"></li>
						<li class="dropdown-header">Recent</li>
						{% for group in server_group_recent %}
						<li><a href="" onclick="openServerGroup({{group.id}});return false;">{{group.name}}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Options</li>
						<li><a href="">My Servers</a></li>
               			<li data-toggle="modal" data-target="#newServer"><a href="" onclick="return false;">New Server</a></li>
              			<li class="divider"></li>
						<li class="dropdown-header">Recent</li>
              			{% for server in server_recent %}
						<li><a href="#">{{server.server_name}}</a></li>
						{% endfor %}
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
	            <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="">Account</a></li>
						<li><a href="logout">Log Out</a></li>
					</ul>
	            </li>
	    	</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<!-- FIN BARRA DE NAVEGACION -->
{% endblock %}

{% block content %}
<div id="main_container">
	<!-- Carousel -->
	<div id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
			<li data-target="#myCarousel" data-slide-to="4"></li>
			<li data-target="#myCarousel" data-slide-to="5"></li>
			<li data-target="#myCarousel" data-slide-to="6"></li>
			<li data-target="#myCarousel" data-slide-to="7"></li>
			<li data-target="#myCarousel" data-slide-to="8"></li>
			<li data-target="#myCarousel" data-slide-to="9"></li>
		</ol>
		
		<div class="carousel-inner">
			<div class="item active">
		      	<div class="container">
			        <div class="carousel-caption">
			        	<h1>Welcome to WorkShipN</h1>
			        	<p>Keep reading if you don't know what to do!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Your First Step</h1>
						<img src="/static/tutorial/1.png"></img>
						<p>
							Create new user groups selecting 'User Group -> New Group'.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Second Step</h1>
						<img src="/static/tutorial/2.png"></img>
						<p>
							Name your new user group.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Third Step</h1>
						<img src="/static/tutorial/3.png"></img>
						<p>
							Create new server groups selecting 'Server Groups -> New Group'.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Fourth Step</h1>
						<img src="/static/tutorial/4.png"></img>
						<p>
							Name your new server group and select a user group.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Fifth Step</h1>
						<img src="/static/tutorial/5.png"></img>
						<p>
							Open your recent created group.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Sixth Step</h1>
						<img src="/static/tutorial/6.png"></img>
						<p>
							Add new servers selecting 'Servers -> New Server'.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Seventh Step</h1>
						<img src="/static/tutorial/7.png"></img>
						<p>
							Name your new server and fill up 'Ip' and 'Username'.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Eighth Step</h1>
						<img src="/static/tutorial/8.png"></img>
						<p>
							Add new scripts.
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Keep reading!</p>
			        </div>
				</div>
			</div>
			<div class="item">
			    <div class="container">
			    	<div class="col-sm-1">
					</div>
					<div class="col-sm-10 carousel_message">
						<h1>Final Step</h1>
						<img src="/static/tutorial/9.png"></img>
						<p>
							Click Play and test your script!
						</p>
					</div>
					<div class="col-sm-1">
					</div>
			    	<div class="carousel-caption">
			          	<p>Done!</p>
			        </div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div><!-- /.carousel -->
</div>

<!-- Modal New User Group -->
<div class="modal fade" id="newUserGroup" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">New User Group</h4>
     		 </div>
      
      		<form class="form" role="form" action="newusergroup" method="post"  id="newUserGroupForm">
				<div class="modal-body" id="newUserGroupBody">
				{{user_group_form|safe}}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>				
      		</form>
    	</div>
	</div>
</div>
<!-- /.Modal New User Group -->

<!-- Modal New Server Group -->
<div class="modal fade" id="newServerGroup" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">New Server Group</h4>
     		 </div>
      
      		<form class="form" role="form" action="../servergroup/newgroup" method="post"  id="newServerGroupForm">
				<div class="modal-body" id="newServerGroupBody">
				{{server_group_form|safe}}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Modal New Server Group -->

<!-- Modal New Server -->
<div class="modal fade" id="newServer" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">New Server</h4>
     		 </div>
      
      		<form class="form" role="form" action="../server/newserver" method="post"  id="newServerForm">
				<div class="modal-body" id="newServerBody">
				{{server_form|safe}}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Modal New Server -->
{% endblock %}

{% block script_content %}
<script>
function openServerGroup(id){
	$("#main_container").fadeOut( function () {
		$("#main_container").load('../servergroup/openservergroup/?servergroup='+id, function () {
			$("#main_container").fadeIn({queue:false});
		});
	});
}

function setOnClickLoad (clicked, to_div, url){
	$(clicked).click( function(event) {
		event.preventDefault();
		$(to_div).fadeOut( function () {
			$(to_div).load(url, function () {
				$(to_div).fadeIn({queue:false});
			});
		});
	});
}


$(function(){
	window.onresize = function() {
		$(".carousel .item ").height( $( window ).height()-110 );
	}
	$(".carousel .item ").height( $( window ).height()-110 );
	$("#newUserGroupForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				result = data.form;
				if (!data.success){
					$("#newUserGroupBody")[0].innerHTML = result;
				}
				else{ location.reload(); }
			}
		});
	});
	
	$("#newServerGroupForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				result = data.form;
				if (!data.success){
					$("#newServerGroupBody")[0].innerHTML = result;
				}
				else{ location.reload(); }
			}
		});
	});
	
	$("#newServerForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				result = data.form;
				if (!data.success){
					$("#newServerBody")[0].innerHTML = result;
				}
				else{ location.reload(); }
			}
		});
	});
	setOnClickLoad('#myusergroups', "#main_container",'myusergroups');
	setOnClickLoad('#myservergroups',"#main_container",'../group/myservergroups')
});
</script>
{% endblock %}