{% csrf_token %}
<li><h5><b>Login</b></h5></li>
{% for field in form %}
{% if field.errors %}
<li><div class="form-group has-error">
	<span class="control-label" for="inputError">{{field.errors.as_text}}</span>
	{{field}}
</div></li>
{% else %}
<li><div class="form-group">
	{{field}}
</div></li>
{% endif %}
{% endfor %}
<li><div class="form-group">
	<button type="submit" class="btn-sm btn-primary pull-right col-sm-12">
		<b>Enter</b>
	</button>
</div></li>