* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100% !important;
	min-height: 100%;
}

body {
	padding-top: 50px;
}
 
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0px;
  margin-bottom: -60px;
  padding: 0px;
}

#footer {
  height: 60px;
}

#footer .container {
	text-align: center;
}

.carousel {
  margin-left: 0px;
  margin-right: 0px;
  padding:0px;
}
.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #FFF;
}

.carousel-indicators li {
  background-color: rgba(70,70,250,.75);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-caption {
	color: #444;
}