<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" id="server_group_name">{{server_group.name}}</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
           		<li class="dropdown">
             			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers <b class="caret"></b></a>
					<ul class="dropdown-menu">
               			<li data-toggle="modal" data-target="#newServerInGroup"><a href="">New Server</a></li>
              			<li><a href="" onclick="openImport();return false;">Import ...</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            	<li data-toggle="modal" data-target="#editServerGroup"><a href=""><span class="glyphicon glyphicon-pencil"></span></a></li>
            	<li data-toggle="modal" data-target="#deleteServerGroup"><a href=""><span class="glyphicon glyphicon-trash"></span></a></li>
				<li>
					<button type="submit" class="btn btn-success navbar-btn" onclick="execScripts({{server_group.id}})">Execute</button>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container" style="overflow-y:auto;">
	<div class="col-sm-12" style="margin-bottom:15px;">
		<button id="close_result_button" class="btn btn-danger pull-right" onclick="closeResult();">X</button>
	</div>
	<div id="result_container" class="col-sm-12" style="max-height:400px;overflow-y:auto;">
	</div>
	<div class="col-sm-3" id="group_servers">
		{{render_servers|safe}}
	</div>
	
	<div class="col-sm-9" id="group_scripts">
		{{render_scripts|safe}}
	</div>
	
	<div id="import_server">
		<div class="col-sm-6" id="import_to_server_group">
			<div class="ui-widget-content">
				<form class="form" method="post" role="form" action="/servergroup/addserversfromimport"  id="addServersFromImportForm">
					{% csrf_token %}
					<input id="id_group_id" name="group_id" value="{{server_group.id}}" class="hide">
					<ul id="import_to_list" class="list-group">
						<li class="list-group-item active">
							Servers
						</li>
						<li class="list-group-item">Drop Here!</li>
					</ul>
					<button class="btn btn-warning" onclick="closeImport();">close</button>
					<button type="submit" class="btn btn-primary" >Save</button>
				</form>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="list-group-item active">
				Import from...
			</div>
			<form class="form" method="post" role="form" action="/servergroup/getgroupservers"  id="getGroupServersForm">
				{{search_group|safe}}
			</form>
			<ul class="list-group" id="import_from_server_group">
			</ul>
		</div>
	</div>
</div>

<!-- Modal New Server -->
<div class="modal fade" id="newServerInGroup" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">New Server</h4>
     		 </div>
      
      		<form class="form" role="form" action="/servergroup/newserver" method="post"  id="newServerInGroupForm">
				<div class="modal-body" id="newServerInGroupBody">
					{{new_server|safe}}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Modal New Server -->

<!-- Delete Group -->
<div class="modal fade" id="deleteServerGroup" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">Sure?</h4>
     		 </div>
      	
      		<form class="form" role="form" action="/servergroup/deleteservergroup" method="post"  id="deleteServerGroupForm">
				<div class="modal-body" id="deleteServerGroupBody">
					This group is going to be permanently deleted!
					{{delete_group|safe}}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Delete</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Delete Group -->

<!-- Edit Server Group -->
<div class="modal fade" id="editServerGroup" tabindex="-1" role="dialog" aria-labelledby="newServerLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
     		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="editServerGroupLabel">Editing {{server_group.name}}...</h4>
     		 </div>
      	
      		<form class="form" role="form" action="/servergroup/editservergroup" method="post"  id="editServerGroupForm">
				<div class="modal-body" id="editServerGroupBody">
					{{edit_group|safe}}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
      		</form>
    	</div>
	</div>
</div>
<!-- /.Edit Server Group -->

<script>
function closeResult(){
	$("#result_container").hide();
	$("#close_result_button").hide();
}

function execScripts(id){
	$("#result_container")[0].innerHTML = "<img id='result-loader' class='col-sm-offset-6' src='/static/img/ajax-loader.gif'></img>"
	$("#result_container").show();
	$.ajax({
		data: {servergroup:id},
		type: 'GET',
		url: '/servergroup/servergroup/exec',
		success: function(data) {
			if (data.success){
				$("#result_container")[0].innerHTML = data.html;
				$("#result_container").show();
				$("#close_result_button").show();
			}
			else{
				$("#result_container").hide();
			}
		}
	});
}

function openImport(){
	$("#group_servers").hide('drop');
	$("#group_scripts").hide('drop', function(){
		$("#import_server").show('drop');
	});
}

function closeImport(){
	$("#import_server").hide('drop', function(){
		$("#import_to_list")[0].innerHTML = "<li class='list-group-item active'>Servers</li><li class='list-group-item'>Drop Here!</li>"
		$("#group_servers").show('drop');
		$("#group_scripts").show('drop');
	});
}

function importListDraggable(){
	$( "#import_from_server_group li" ).draggable({
		appendTo: "body",
		helper: "clone",
		cursor: "move"
	});
}

$(function(){
	$( "#import_from_server_group" ).accordion();
	$("#close_result_button").hide();
	importListDraggable();
	
	$( "#import_to_server_group ul" ).droppable({
		activeClass: "ui-state-default",
		hoverClass: "ui-state-hover",
		accept: ":not(.ui-sortable-helper)",
		drop: function( event, ui ) {
			$item = ui.draggable;
			$item.hide();
			$( "#import_to_server_group ul" ).find("#"+$item.attr('id')).remove();
			$( "<li name='"+$item.attr('name')+"' id='"+$item.attr('id')+"' class='list-group-item'></li>" ).text( 
					$item.text()
					).appendTo( this );
			}
		});
	
	$("#import_server").hide();
	
	$("#addServersFromImportForm").submit(function(event){
		event.preventDefault();
		var sortableLinks = $("#import_to_list");
		$(sortableLinks).sortable();
		var linkOrderData = $(sortableLinks).sortable('serialize',{key:'import_server'});
		$(sortableLinks).sortable('disable');
		$.ajax({
			data: linkOrderData +"&"+ $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				if (!data.success){
					closeImport();
				}
				else{
					$("#import_to_list")[0].innerHTML = "<li class='list-group-item active'>Servers</li><li class='list-group-item'>Drop Here!</li>"
					$("#serverList")[0].innerHTML = data.servers;
					closeImport();
				}
			}
		});
	});
	
	$("#getGroupServersForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				if (!data.success){
				}
				else{
					$("#import_from_server_group").hide(function(){
						$("#import_from_server_group")[0].innerHTML = data.servers;
						importListDraggable();
						$("#import_from_server_group").show();
					});
				}
			}
		});
	});
	
	$("#newServerInGroupForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				if (!data.success){
					$("#newServerInGroupBody").fadeOut( function () {
						$("#newServerInGroupBody")[0].innerHTML = data.form;
						$("#newServerInGroupBody").fadeIn({queue:false});
					});
				}
				else{
					$('#newServerInGroup').modal('hide'); 
					$("#serverList").fadeOut( function () {
						$("#serverList")[0].innerHTML = data.servers;
						$("#serverList").fadeIn({queue:false});
					});
					$("#newServerInGroupBody")[0].innerHTML = data.form;
					}
			}
		});
	});
	
	$("#editServerGroupForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				if (!data.success){
					$("#editServerGroupBody").fadeOut( function () {
						$("#editServerGroupBody")[0].innerHTML = data.form;
						$("#editServerGroupBody").fadeIn({queue:false});
					});
				}
				else{
					$('#editServerGroup').modal('hide'); 
					$("#editServerGroupBody")[0].innerHTML = data.form;
					$("#editServerGroupLabel")[0].innerHTML = data.form_name;
					$("#server_group_name")[0].innerHTML = data.name;
					}
			}
		});
	});
});
</script>