<div class="list-group-item active">
<span class="badge">{{group_servers.count}}</span>
Servers
</div>
<div class="panel-group" id="accordion">
	{% for server in group_servers %}
	<div class="panel panel-default" id="serverpanel-{{server.id}}">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{server.id}}">
				  {{server.server_name}}
				</a>
				<a href="#">
      				<span class="pull-right glyphicon glyphicon-trash"></span>
      			</a>
      		</h4>
    	</div>
	    <div id="collapse{{server.id}}" class="panel-collapse collapse" style="padding:0;">
			<div class="panel-body" style="padding:0;">
				<ul class="list-group" style="padding:0;margin:0;">
					<li class="list-group-item"><span><b>Ip: </b>{{server.ip}}</span></li>
					<li class="list-group-item"><span><b>User Name: </b>{{server.user_name}}</span></li>
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

<br></br>

<li class="list-group-item active">
	<span class="badge">{{group_scripts.count}}</span>
	Scripts
</li>
<div class="panel-group" id="accordion-script">
	{% for script in group_scripts %}
	<div class="panel panel-default" id="scriptpanel-{{script.id}}">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion-script" href="#collapse-script-{{script.id}}">
				  # {{script.name}}
				</a>
				<a href="#">
      				<span class="pull-right glyphicon glyphicon-trash"></span>
      			</a>
      		</h4>
    	</div>
	    <div id="collapse-script-{{script.id}}" class="panel-collapse collapse" style="padding:0;">
			<div class="panel-body" style="padding:0;">
				<ul class="list-group" style="padding:0;margin:0;">
					<li class="list-group-item"><span><b>Condition: </b>{{script.condition}}</span></li>
					<li class="list-group-item"><span><b>Script: </b>{{script.script}}</span></li>
					<li class="list-group-item"><span><b>Description: </b>{{script.description}}</span></li>
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}
</div>