<ul class="list-group">
	<li class="list-group-item active">
		<span class="badge">{{group_scripts.count}}</span>
		Scripts
	</li>
	<li class="list-group-item" style="padding:0;">
		<form class="form" role="form" action="../script/newscript/?servergroup={{server_group.id}}" method="post" id="newScriptForm">
			{{render_script_form|safe}}
		</form>
	</li>
</ul>

<div id="scriptList">
{{edit_script_forms|safe}}
</div>

<script>
function deleteScript(id){
	form = "#scriptForm-"+id;
	$.ajax({
		data: $(form).serialize(),
		type: $(form).attr('method'),
		url: "../script/deletescript/?servergroup="+$(form).attr('name'),
		success: function(data) {
			$("#scriptList").fadeOut( function () {
				$("#scriptList")[0].innerHTML = data.forms;
				$("#scriptList").fadeIn({queue:false});
			});
		}
	});
}

function editScript(id){
	form = "#scriptForm-"+id;
	$.ajax({
		data: $(form).serialize(),
		type: $(form).attr('method'),
		url: "../script/editscript/?servergroup="+$(form).attr('name'),
		success: function(data) {
			$("#scriptList").fadeOut( function () {
				$("#scriptList")[0].innerHTML = data.forms;
				$("#scriptList").fadeIn({queue:false});
			});
		}
	});
}

function keys(obj)
{
    var keys = [];

    for(var key in obj)
    {
        if(obj.hasOwnProperty(key))
        {
            keys.push(key);
        }
    }

    return keys;
}

function playScript(id){
	form = "#scriptForm-"+id;
	$("#result_container")[0].innerHTML = "<img id='result-loader' class='col-sm-offset-6' src='/static/img/ajax-loader.gif'></img>"
	$("#result_container").show();
	$.ajax({
		data: $(form).serialize(),
		type: $(form).attr('method'),
		url: "../script/playscript/?servergroup="+$(form).attr('name'),
		success: function(data) {
			$("#scriptList").fadeOut( function () {
				if (!data.success){
					$("#scriptList").fadeIn({queue:false});
					$("#result_container").hide();
				}
				else{
					$("#result_container")[0].innerHTML = data.html;
					$("#scriptList")[0].innerHTML = data.forms;
					$("#scriptList").fadeIn({queue:false});
					$("#result_container").show();
					$("#close_result_button").show();
				}
			});
		}
	});
}

$(function(){
	$("#newScriptForm").submit(function(event){
		event.preventDefault();
		$.ajax({
			data: $(this).serialize(),
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			success: function(data) {
				result = data.form;
				result2 = data.forms;
				if (!data.success){
					$("#newScriptForm")[0].innerHTML = result;
				}
				else{
					$("#main_container").fadeOut( function () {
						$("#newScriptForm")[0].innerHTML = result;
						$("#scriptList")[0].innerHTML = result2;
						$("#main_container").fadeIn({queue:false});
					});
				}
			}
		});
	});
});
</script>