.carousel {
  margin-left: 0px;
  margin-right: 0px;
  padding:0px;
}
.carousel-caption {
  z-index: 10;
}

.carousel .item {
  background-color: #FFF;
}

.carousel_message {
	text-align: center;
}

.carousel_message img {
	text-align: center;
	padding-top: 15px;
}

.carousel_message p {
	font-size: 18px;
	color: rgb(68, 68, 68);
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.carousel_message h1 {
	font-size: 36px;
	color: rgb(68, 68, 68);
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}