{% extends "main.html" %}
{% block content %}
	<div class="col-sm-6 thumbnail">
		<div class="col-sm-4">
			
		</div>
		<form class="form" role="form" action="server" method="post">
			<div class="col-sm-8">
				{% csrf_token %}
				{% for field in form %}
					<div class="input-group">
					<span class="input-group-addon" style="min-width:110px;">{{field.label}}</span>
					{{field}}
					</div>
				{% endfor %}
			</div>
		</form>
	</div>
{% endblock %}